.btn {
	display: inline-block;
	text-align: center;
	width: 293px;
	background-color: $dark-color;
	padding: 18px 0;
	text-decoration: none;
	color: #fff;
	font-weight: 700;
	font-size: 18px;
	border: 1px solid transparent;
	transition: 0.4s;
	
	&:hover {
		background-color: #fff;
		color: $dark-color;
		border: 1px solid $dark-color;
	}
}