    .header{
	&__container {
	padding-bottom: 368px;
    display: flex;
    flex-direction: column;
    align-items: center;
	}
        &__title{
            font-size: 48px;
        }

        &__version{
            font-size: 14px;
			margin: 0;
    text-transform: uppercase;
        }
		&__slogan {
    width: 80%;
    padding: 0;
	font-size: 18px;
    font-family: $main-font-1;
    text-transform: capitalize;
		}
    }