.header{

&__container {
padding-bottom: 487px;
    display: flex;
    flex-direction: column;
    align-items: center;

}
    &__title{
        font-size: 82px;

    }

    &__version{
        font-size: 16px;
		margin:unset;
		text-transform:uppercase;
    }
			&__slogan {
font-size: 30px;
font-weight: unset;
line-height: initial;
width: unset;
font-family: $main-font-1;
text-transform: capitalize;
		}
	}