

   .pricing{
    padding-bottom: 60px;
        &__title{
            font-size:42px;
			padding-top: 30px;
			    margin: 0;
        }

       &__tables {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
	align-items:center;
	    max-width: 700px;
}

&__table {
margin: 42px 0;
}



&__table:last-child {
margin-right: 20px;
}

&__table-selected {
    background-color: #3d2f3d6e;
    width: 299px;
    height: 560px;
	position:unset;
	margin:0;
}

    }