.about{

        &__container{
			margin: 0 auto;
			    padding: 0 10px;
        }

        &__title{
            font-size: 42px;
        }

        &__companies{
            grid-template-rows: 1fr;
            grid-template-columns: 1fr 1fr;
			padding:0;
        }

        &__content{
            padding-bottom: 42px;
        }

        &__content-2{
            margin-top:0;
        }

        &__company-description{
            width: 90%;
        }

        &__copyright-text{
            display: inline-block;
			            color: #a291a5;
            font-family: $main-font-2;
            font-size: 14px;
            font-weight: 400;
            line-height: 21px;
			width: 90%;
        }
		        &__copyright{
            padding:0;
        }
    }
	
	.hr-line::after{
    content: '';
    display: block;
    margin: 15px auto 0;
    background-color: #645766;
    width: 80%;
    height: 2px;
	    margin-bottom: 15px;
        }  
