@mixin flex-between {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

@mixin flex-center {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
@mixin flex-all-center {
                        display: flex;
                        align-items: center;
                        justify-content: center;
}

@mixin regular-title {
color: #fff;
font-family: $main-font-1;
font-size: 48px;
font-weight: 700;
text-align: center;
}

@mixin about-description {
color: #fff;
font-family: $main-font-2;
font-size: 16px;
font-weight: 700;
font-style: italic;
line-height: 24px;
text-align: center;   
opacity: 0.7;
}

