$main-font-1: 'Montserrat', sans-serif;
$main-font-2: 'Lato', sans-serif;
$main-bg-color: #fff;
$main-color-dark: #8d81ac;
$advantage-slogan-color: #323232;
$advantage-description-color: #848e97;