.events-filter {
	position: relative;
	z-index: 100;

	&__btn {
		color: $color-one;
		border: 2px solid $color-one;
		font-size: 24px;
		padding: 20px 100px;
		font-weight: 700;
		cursor: pointer;
		user-select: none;

		&::after {
			content: '';
			position: absolute;
			right: 20px;
			top: 30px;
			width: 0;
			height: 0;
			border-left: 10px solid transparent;
			border-right: 10px solid transparent;
			border-top: 13px solid $color-two;
			border-top: 13px solid $color-one;
		}
	}
	
	&__list {
		position: absolute;
		display: none;
		width: 100%;
		top: 100%;
		left: 0;
		background-color: #fff;
		padding: 10px 0;
		box-shadow: 0 10px 15px #bebebe;
		transition: 0.4s;
	}
	
	&__item {
		position: relative;
		padding: 10px 0 20px 50px;
		color: #5a5b5c;
		font-weight: 700;
		font-size: 20px;
		line-height: 1.5em;
		cursor: pointer;
		
		&::before {
			content: '';
			position: absolute;
			width: 12px;
			height: 12px;
			left: 16px;
			top: 18px;
		}
		
		&:nth-child(1)::before {
			background-color: #caeaf6;
		}
		
		&:nth-child(2)::before {
			background-color: #ffff00
		}
		
		&:nth-child(3)::before {
			background-color: #ff0000;
		}
		
		&:nth-child(4)::before {
			background-color: #74b65f;
		}
		
		&:nth-child(5)::before {
			background-color: #631e40;
		}
		
		&:nth-child(6)::before {
			background-color: #ef90e1;
		}
		
		&:nth-child(7)::before {
			background-color: #949494;
		}
	}
}
