.event {
	position: relative;
	border: 1px solid #dadada;
	display: inline-block;
	text-align: left;
	color: $main-font-color;
	cursor: pointer;
	background-color: #fff;
	transition: 0.4s;

	&__img {
		position: relative;
		width: 100%;
		background: center/cover no-repeat;

		&::after {
			content: '';
			position: absolute;
			width: 100%;
			height: 100%;
		}
	}

	&__title {
		text-align: center;
		font-weight: 700;
	}

	&__link {
		text-decoration: none;
		color: rgb(38, 38, 38);
		outline: none;
		transition: 0.4s;

		&:hover {
			color: $color-two;
		}
	}

	&__text {
		font-size: 18px;
		margin: 0 40px;
	}

	&__info-name {
		position: relative;
		font-weight: 600;
		
		&:after {
			content: '';
			display: block;
			position: absolute;
			width: 100%;
			height: 1px;
			bottom: 2px;
			background-color: $main-font-color;
		}
	}

	&__readmore {
		display: block;
		font-weight: 600;
		color: $color-two;
		text-decoration: none;
		outline: none
	}

	&__btn {
		display: none;
		width: 100%;
		color: $color-one;
		font-weight: 700;
		text-decoration: none;
		border: 2px solid $color-one;
		text-align: center;
		outline: none;
		padding: 20px 0;
	}
}

.event.active {
	z-index: 99;
	box-shadow: 0 0 10px #bebebe;
}
