.hashtag {
	display: inline-block;
	background-color: #fff;
	padding: 9px 20px;
	border-radius: 4px;
	
	&__background {
		background: linear-gradient(to right, #0726bf, #fe6b5b);
	}

	&__text {
		color: #000;
		background: #fff;
		mix-blend-mode: lighten;
		font-size: 20px;
		font-weight: 400;
	}
}
