.overlay_popup {
	display: none;
	position: fixed;
	z-index: 999;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	background: rgba(0, 0, 0, 0.5);
	opacity: 0;
}

.popup-content {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}