.news {
	padding: 55px 0 70px 0;
	background-color: $bgc-light;
	text-align: center;
	
	&-content {
		@include flex-row-between;
		margin-top: 57px;
	}
	
	&-item {
		width: 360px;
		height: 500px;
		background-color: #fff;
		box-shadow: 2px 0 8px #cccdcf;
		text-align: left;
		text-decoration: none;
	}
	
	&-img {
		height: 240px;
		background-color: #000;
		background: center/cover no-repeat;
		
		&._1 {
			background-image: url(../img/news/news-1.png);
		}
		
		&._2 {
			background-image: url(../img/news/news-2.png);
		}
		
		&._3 {
			background-image: url(../img/news/news-3.png);
		}
	}
	
	&-info {
		padding: 25px 45px 50px 25px;
	}
	
	&-date {
		font-size: 12px;
		color: $text-color;
		margin-bottom: 24px;
		
		&-icon {
			color: $main-color;
			margin-right: 9px;
		}
	}
	
	&-title {
		font-size: 24px;
		font-weight: 600;
		color: $dark-color;
		margin-bottom: 15px;
	}
	
	&-place {
		font-size: 20px;
		color: $dark-color;
		margin-bottom: 17px;
	}
	
	&-text {
		font-size: 17px;
		color: $text-color;
	}
	
	&-btn {
		margin-top: 57px;
	}
}