    .download{

        &__title{
            font-size: 26px;
            text-align: center;
            line-height: 42px;
        }

        &__title-description{            
            font-size: 14px;
            line-height: 20px;
        }
    }