@mixin flex-center {
	display: flex;
	align-items: center;
	justify-content: center;
}

@mixin flex-row-between {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

@mixin flex-space-between {
	display: flex;
	justify-content: space-between;
	align-content: space-between;
	flex-wrap: wrap;
}

@mixin flex-column-center {
	display: flex;
	flex-direction: column;
	align-items: center;
}
