.feedback {
	padding: 145px 0 205px 0;

	.container {
		max-width: 1256px;
	}

	&__content {
		display: flex;
		justify-content: space-between;
		margin-top: 75px;
	}

	&-form {
		position: relative;
		@include flex-column-center;
		background-color: #f7f8f9;
		padding: 55px;
		border-radius: 10px;
		border: 4px solid #caeaf6;
		margin-top: 160px;

		&__input {
			border: 4px solid #caeaf6;
			padding: 30px 35px;
			width: 455px;
			font-size: 24px;
			outline: none;
		}

		input {
			border-radius: 10px;
		}

		textarea {
			box-sizing: border-box;
			margin-top: 40px;
		}

		&__btn {
			margin-top: 55px;
			background-color: #33b1e6;
		}

		&__arrow {
			position: absolute;
			top: -190px;
			right: 161px;
		}
	}
}

.feedbacks {
	position: relative;
	width: 520px;
	height: 580px;
	border: 4px solid $color-one;
	border-radius: 10px;
	background-color: #f9f9fa;
	padding: 42px 0 34px 0;
	color:  rgb(75, 76, 76);
	margin-right: 35px;

	&__item {
		@extend .feedbacks;
		position: absolute;
		top: 42px;
		left: 34px;
	}
	
	&__comment {
		display: none;
		
		&.active {
			display: block;
		}
		
		&._1 .feedbacks__photo {
			background-image: url(../img/feedbacks/img-1.png);
		}
		
		&._2 .feedbacks__photo {
			background-image: url(../img/feedbacks/img-2.png);
		}
		
		&._3 .feedbacks__photo {
			background-image: url(../img/feedbacks/img-3.png);
		}
	}
	
	&__about-person {
		display: flex;
	}
	
	&__photo {
		width: 225px;
		height: 225px;
		margin-left: 64px;
		border: 4px solid $color-one;
		border-radius: 50%;
		background: center/cover no-repeat;
	}
	
	&__person-info {
		margin: 26px 0 0 31px;
	}
	
	&__name {
		font-size: 30px;
		font-weight: 700;
	}
	
	&__post {
		font-size: 24px;
		margin-top: 20px;
	}
	
	&__quote {
		width: 410px;
		margin: 20px 50px;
		font-size: 18px;
		line-height: 1.2;
	}
	
	&__btn {
		position: absolute;
		display: block;
		bottom: 57px;
		right: 82px;
	}
}