#events-header-bg,
#about-me-header-bg,
#our-partners-bg{
	z-index: -1;
	position: absolute;
	top: 0;
}

.header {
	position: relative;
	height: 780px;
	padding-top: 200px;
	border: 1px solid transparent;
	background: center/cover no-repeat;

	&._events-header {
		background: linear-gradient(to top right, rgba(7, 60, 120, 0.5), rgba(255, 87, 69, 0.5));
	}

	.container {
		max-width: 1130px;
		height: 100%;
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
	}

	&__text {
		font-family: $extra-font;
		font-weight: 600;
		color: #fff;
		text-transform: uppercase;
		margin-top: 45px;

		._blue-text {
			color: #45fdff;
		}

		&_large {
			font-size: 90px;
		}

		&_medium {
			font-size: 50px;
			margin-top: 20px;
		}

		&_small {
			font-size: 36px;
			margin-top: 20px;

			&._insta {
				margin-top: 50px;
			}
		}
	}

	&__hashtag {
		margin-top: 75px;
	}
}

.header-form {
	background: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.2));
	
	&__input {
		border: 2px solid rgba(255, 255, 255, 0.4);
	}
}

.popup-form {
	background: linear-gradient(rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.8));
	
	.header-form__input {
		border: 2px solid rgba(0, 0, 0, 0.2);
	}
}

.event-form {
	@include flex-column-center;
	display: inline-block;
	border-radius: 15px;
	padding: 50px 45px;

	.header-form {

		&__form {
			width: 296px;
		}

		&__title {
			font-size: 24px;
			font-weight: 600;
			text-align: center;
			line-height: 1.5em;
			margin-bottom: 65px;
			color: #404040;

			&_bold {
				font-weight: 700;
			}

			&_selected {
				color: $color-one;
			}
		}

		&__input {
			width: 100%;
			padding: 18px;
			color: $main-font-color;
			font-family: $main-font;
			font-weight: 600;
			font-size: 16px;
			background-color: rgba(255, 255, 255, 0.3);
			margin-bottom: 17px;
			outline: none;

			&:focus {
				background-color: rgba(255, 255, 255, 0.6);
				border: 2px solid #76a8bd;
			}
		}

		&__btn {
			margin-top: 30px;
		}
	}
}
