.subscribe {
	background-color: #252525;
	padding: 33px 0;
	border-bottom: 1px solid #444;

	.container {
		max-width: 970px;
	}
	
	&__form {
		@include flex-row-between;
	}
	
	&__title {
		color: #fff;
		font-size: 22px;
	}
	
	&__input {
		height: 68px;
		padding: 0 30px;
		width: 400px;
		background-color: #f0ecec;
		margin: 0 0 0 auto;
		outline: none;
		font-size: 20px;
	}
	
	&__btn {
		height: 68px;
		padding: 0 35px;
		color: #fff;
		background-color: $color-two;
		font-size: 24px;
		border: 1px solid transparent;
		outline: none;
		cursor: pointer;
	}
}
