.top-discounts {
	padding: 85px 0 105px 0;

	&-slider {
		margin-top: 80px;
		max-width: 100vw;

		.event {
			width: 350px;

			&__img {
				height: 350px;

				&::after {
					background-image: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3));
				}
			}

			&__title {
				font-size: 22px;
				margin-top: 10px;
			}

			&__text {
				display: none;
				margin-top: 15px;
			}

			&__readmore {
				margin: 20px 0 30px 44px;
			}

			&__goto {
				display: none;
			}
		}
	}
}

.top-discounts .event.active {
	transform: scale(1.2);

	.event {
		&__img::after {
			background-image: linear-gradient(rgba(16, 65, 190, 0.45), rgba(16, 65, 190, 0.45));
		}

		&__title {
			margin-top: 15px;
		}

		&__text {
			display: block;
			margin-top: 24px;
			line-height: 1.3em;
		}

		&__readmore {
			display: none;
		}

		&__goto {
			display: block;
			font-weight: 700;
			font-size: 18px;
			color: $color-one;
			margin: 17px 0 35px 40px;
		}
	}
}
