.write-me {
	padding: 130px 0 165px 0;

	.container {
		max-width: 1200px;
		display: flex;
		justify-content: space-between;
	}
	
	&-form {
		background-color: #f4f6f7;
		border-radius: 10px;
		border: 3px solid $color-one;
		width: 590px;
		padding: 70px 55px 85px 55px;
		text-align: center;
		
		&__title {
			font-size: 30px;
			font-weight: 700;
			color: rgb(62, 63, 63);
			margin-bottom: 73px;
		}
		
		&__input {
			width: calc(100% - 60px);
			padding: 25px 30px;
			font-weight: 600;
			font-size: 20px;
			color: rgb(146, 148, 149);
			border-radius: 10px;
			border: 3px solid #35a4dc;
			outline: none;
			background-color: #f7fafb;
			margin-bottom: 50px;
		}
		
		&__btn {
			font-weight: 700;
			border: 3px solid #35a4dc;
			border-radius: 10px;
			padding: 25px 54px;
			width: 296px;
			font-size: 24px;
			color: #f4f8f9;
			background-color: #388ab4;
			outline: none;
			cursor: pointer;
		}
	}
	
	&__info {
		width: 410px;
	}
	
	&__text {
		font-size: 48px;
		font-weight: 600;
		text-align: center;
		color: rgb(62, 63, 63);
		line-height: 1.8em;
		margin: 24px 0 73px 0;
		
		&_selected {
			color: $color-one;
			font-weight: 700;
		}
	}
}
