@import url("https://fonts.googleapis.com/css?family=Montserrat"); /*подключать с помощью import в начале файла*/

@font-face {
    font-family: "Lato";
    src: url("../fonts/latoregular.ttf");
}
.main-container {
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    perspective: 2px;
}

.container {
    width: 1170px;
    margin: 0 auto;
}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

.text-orange{
    color: #f1ad1d;
}
.section-title {
    font-family: 'Montserrat', sans-serif;
    color:  #333333;
    font-size: 22px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 35px;
}

.slogan-title {
    font-family: 'Montserrat', sans-serif;
    color:  #ffffff;
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 58px;
}
.section-description {
    font-family: 'Lato', sans-serif;
    color:  #4d4943;
    font-size: 17px;
    text-align: center;
    margin-bottom: 57px;
}

.under_line::after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background-color: #f1ad1d;
    margin: 52px auto 0;
}

.orange-btn {
    display: inline-block;
    background: #f1ad1d;
    color: #ffffff;
    padding: 20px 27px ;
    text-decoration: none;
    font-family: 'Lato', sans-serif;

}
/*HEADER START*/
.header {
    /*background-image: url(../img/bg.jpg);*/
    /*background-repeat: no-repeat;*/
    /*background-size: cover;*/
    /*padding-top: 531px;*/

    height: 100vh;
    position: relative;
    box-sizing: border-box;
}
.header::after {
    content: '';
    background-image: url(../img/bg.png);
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-size: 100%;
    transform: translateZ(-1px) scale(1.5);
    background-repeat: no-repeat;
    z-index: -1;

}
.header-content {
    display: flex;
    /*align-items: flex-end;*/
    align-content: flex-end;
    flex-wrap: wrap;
    height: 100vh;
    /*padding-bottom: 145px;*/
}

.header-company-name{
    font-family: 'Montserrat', sans-serif;
    color:  #fff;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 16px;
    width: 100%;
}
.header-company-description{
    font-family: "Lato", sans-serif;
    color:  #fff;
    font-size: 18px;
    margin-bottom: 28px;
    width: 100%;
}
.header-slogan{
    display: inline-block;
    font-family: "Montserrat", sans-serif;
    color:  #fff;
    font-size: 54px;
    font-weight: 700;
    padding: 44px 43px;
    border: 1px solid #fff;
    background-color: rgba(0, 0, 0, 0.3);
    width: 100%;
    margin-bottom: 145px;
}

/* HEADER END*/



/*ABOUT US START*/
.about-us{
    padding-top: 69px;
    padding-bottom: 95px;
}
.about-us-awards{
    text-align: center;
}

.about-us-award {
    max-width: 100%;
}
/*ABOUT US END*/

/*NAVBAR START*/

/*.navbar{*/
    /*position: fixed;*/
    /*top: 50px;*/
/*}*/

.navbar-logo {
    float: left;
}

.navbar-logo img{
    max-width: 100%;
}

.navbar-nav{
    float: right;
    margin-top: 4px;
}

.navbar-nav-item{
    display: inline-block;
    margin-right: 70px;
}
.navbar-nav-link{
    text-decoration: none;
    text-transform: uppercase;
    font-family: "Lato", sans-serif;
    color: #3d3d3d;
    font-size: 18px;
}

/*.navbar-nav-item a {*/
    /*color: orange;*/
/*}*/

/*.navbar-nav-item a.navbar-nav-link {*/
    /*color: red;*/
/*}*/

/*ul.navbar-nav a.navbar-nav-link {*/
    /*color: #3d3d3d;*/
/*}*/

/*.navbar-nav-link {*/
    /*color: #3d3d3d !important;*/
/*}*/

.navbar-nav-link:hover {
    color:  #f1b128;
}

.navbar-nav-item:last-child {
    margin-right: 0;
}

/*NAVBAR END*/

/*FEATURES START*/
.our-features {
    padding: 125px 0;
}
.features-list {
    float: left;
    width: 570px;
}
.features-item {
    position: relative;
    width: 270px;
    float: left;
    margin-bottom: 22px;
}

/*.features-item:nth-child(2n-1) {*/
    /*margin-right: 30px;*/
/*}*/

.features-item:nth-child(odd) {
    margin-right: 30px;
}

.mr30 {
    margin-right: 30px;
}
.features-name {
    width: 117px;
    position: absolute;
    background: #333333;;
    font-family: 'Lato', sans-serif;
    color:  #ffffff;
    font-size: 14px;
    box-sizing: border-box;
    padding: 15px;
    bottom: 11px;
    left: 13px;
}
.features-description{
    float: right;
    width: 569px;

}
.features-description-title{
    font-family: "Montserrat", sans-serif;
    color:  #333333;
    font-size: 18px;/* Approximation due to font substitution */
    font-weight: 700;
    margin-bottom: 26px;
    text-transform: uppercase;
}
.features-description-text{
    font-family: 'Lato', sans-serif;
    color:  #505050;
    font-size: 14px;/* Approximation due to font substitution */
    font-weight: 300;
    line-height: 22px;/* Approximation due to font substitution */
    text-align: justify;
    margin-bottom: 36px;


}
/*FEATURES END*/

/*SLOGAN-1 START*/

.slogan-section-1 {
    background-image: url(../img/slogan-bg-1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 151px 0;
}

/*SLOGAN-1 END*/
/*OUR TEAM START*/
.our-team{
    padding-top: 114px;
    padding-bottom: 104px;
}
.team-person{
    position: relative;
    width: 193px;
    float: left;
    margin-right: 2px;
    margin-bottom: 2px;

}
.team-person-img{
    max-width: 100%;
}
.team-person:nth-child(6n){
    margin-right: 0;
}
.team-person-name{
    position: absolute;
    display: inline-block;
    font-family: 'Lato', sans-serif;
    color:  #ffffff;
    font-size: 14px;
    background-color:  #333333;
    width: 136px;
    padding: 15px;
    bottom: 15px;
    left: 14px;
    opacity: 0;
}

.team-person:hover .team-person-name{
    animation-name: team-person-hover;
    animation-duration: 4s;
    animation-fill-mode: both;
}

@keyframes team-person-hover {
    0%{
        background-color: rgba(0,0,0,0);
       transform: translateY(-100px);
    }

    50%{
        background-color: rgba(0,0,0,1);
        transform: translateY(-50px);
    }

    100%{
        opacity: 1;
    }
}

.team-person-link{
    text-decoration: none;
}
/*OUR TEAM END*/

/*OUR SERVICES START*/
.our-services{
    padding: 104px 0;
}
.services-item{
    float: left;
    width: 271px;
    margin-right: 28px;
    text-align: center;
    padding-bottom: 34px;
    border-bottom: 3px solid #333333;
}
.services-item:nth-child(4n){
    margin-right: 0;
}
.service-name{
    padding: 19px 5px;
    text-align: center;
    background-color:  #333333;
    color: #fff;
    font-family: "Montserrat", sans-serif;
    font-size: 18px;/* Approximation due to font substitution */
    font-weight: 700;
    margin-bottom: 30px;
}
.service-img{
    height: 50px;
    margin-bottom: 29px;
    line-height: 50px;
}

.service-img .fas{
    font-size: 41px;

}
.service-description{
    font-family: "Lato", sans-serif;
    color:  #505050;
    font-size: 14px;
    font-weight: 300;
    height: 90px;
    position: relative;
    margin-bottom: 28px;
}
.service-description::after{
    content:"";
    width: 64px;
    height: 3px;
    background-color: #f1ad1d;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;

}
.service-offer-slogan {
    font-family: Lato, sans-serif;
    color:  #505050;
    font-size: 18px;/* Approximation due to font substitution */
    margin-bottom: 16px;
}
.service-offer {
    font-family: Lato;
    color:  #505050;
    font-size: 14px;/* Approximation due to font substitution */
    margin-bottom: 6px;
}
.subscribe {
    padding-top: 132px;
    padding-bottom: 88px;
}
.email-subscription {
    text-align: center;
}
.subscribe-field {
    border: 1px solid #c7c7c7;
    width: 598px;
    padding:25px 30px;
    font-family: "Lato", sans-serif;
    color:  #747474;
    font-size: 18px;
    font-style: italic;
}
.form-orange-btn {
    background-color: #f1ad1d;
    padding: 25px 47px;
    border: none;
    font-family: "Lato", sans-serif;
    color:  #ffffff;
    font-size: 18px;
    font-weight: 700;
}



/*.fa-accessible-icon {*/
    /*color: red;*/
    /*font-size: 58px;*/
/*}*/


/* OUR SERVICES END*/
/* Connect Us Start*/
.connect-us {
    padding-bottom: 140px;
}
.feedback-message{
    width: 572px;
    float: left;
}
.feedback-title{
    background-color:  #333333;
    width: 67%;
    padding: 19px 15px;
    font-family: "Montserrat", sans-serif;
    color:  #ffffff;
    font-size: 18px;/* Approximation due to font substitution */
    font-weight: 700;
    margin-bottom: 23px;


}
.feedback-description{
    margin-bottom: 25px;
    font-family: "Lato",sans-serif;
    color:  #505050;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
}
.feedback-field{
  border: 1px  #929292 solid;
    font-family: "Lato",sans-serif;
    color:  #505050;
    font-size: 14px;/* Approximation due to font substitution */
    font-weight: 300;
    font-style: italic;


box-sizing: border-box;
    padding:17px 13px;
}
.feedback-input{
    width: 270px;
    margin-bottom: 20px;

}
.feedback-input:nth-child(2n-1){
    margin-right: 27px;
}
.feedback-textarea{
    width: 572px;
    height: 186px;
    margin-bottom: 23px;
}
.feedback-send{
    border: none;
    padding: 16px 40px;
    background-color:  #f1ad1d;
    font-family: "Lato", sans-serif;
    color:  #ffffff;
    font-size: 14px;
    font-weight: 900;
    text-transform: uppercase;
}

.our-contacts{
    width: 370px;
    float: right;
}

.contact-list-link {
    font-family: 'Lato', sans-serif;
    color:  #505050;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    text-decoration: none;
}


.contact-list-link .fas {
    color:  #f1ad1d;
}

.contact-text-icon {
    display: inline-block;
    width: 36px;
    height: 32px;
    background-color: #333333;
    text-align: center;
    line-height: 32px;
    margin-right: 12px;
}

.contact-list-item {
    margin-bottom: 9px;
}

.social-contacts-item {
    display: inline-block;
}

.social-contacts-link{
    background-image: url("../img/soc-icon-sprite.png");
    background-repeat: no-repeat;
    display: inline-block;
    width: 45px;
    height: 40px;
    transition: 0.4s;
}

.facebook-social-icon{
    background-position: -75px -70px;
}

.facebook-social-icon:hover{
    background-position: -10px -70px;
}

.twitter-social-icon{
    background-position: -140px -70px;
}

.twitter-social-icon:hover{
    background-position: -75px -10px;
}

.google-social-icon{
    background-position: -10px -130px;
}

.google-social-icon:hover{
    background-position: -10px -10px;
}

.rss-social-icon{
    background-position: -75px -130px;
}

.rss-social-icon:hover{
    background-position: -140px -10px;
}

/*PRICE_TABLE START*/

.price-plan-tittle {
    width: 286px;
    padding: 22px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color:  #333333;
    text-transform: uppercase;
    font-size: 23.99px;/* Approximation due to font substitution */
    font-weight: 700;
    border: solid 1px #5b5b5b;
}
.price-plan-tittle.selected {
    color:  #1fdab5;
}
.price-plan-count {
    width: 286px;
    padding: 34px;
    font-family: 'Montserrat', sans-serif;
    color:  #ffffff;
    font-size: 39.01px;/* Approximation due to font substitution */
    font-weight: 700;
    background-color: #303030;
    border: solid 1px #5b5b5b;
}
.brand-list{
    display: flex;
    justify-content: space-around;
}
.portfolio-categories{
    display: flex;
    justify-content: center;
    margin-bottom: 45px;
}
.portfolio-categorie-item{
    padding:15px 35px;
    margin: 0 10px;
    border: 1px solid black;
    text-decoration: none;
    font-family: "Lato", sans-serif;
    color:  #111111;
    font-size: 14px;/* Approximation due to font substitution */
    font-weight: 300;
    text-align: center;
}
.portfolio-categorie-item:hover{
    background-color:#303030;
    color:#f1ad1d;
    transition: 1.0s;
    transform: translateY(-5px);
}
.portfolio-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.portfolio-list-item{
    width: 281px;
    position: relative;
    margin-bottom: 15px;
}

.portfolio-item-info {
    position: absolute;
    background-color: #ffffff;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    border: 1px solid black;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    opacity: 0;
}

.portfolio-info-content {
    text-align: center;
}

.portfolio-info-title {
    font-family: 'Lato', sans-serif;
    color:  #111111;
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 25px;
}

.portfolio-info-description {
    font-family: 'Lato', sans-serif;
    color:  #5b5b5b;
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 27px;
}

.portfolio-btn-more {
    padding: 15px 37px;
    font-family: 'Lato', sans-serif;
    color:  #ffffff;
    font-size: 14px;
    font-weight: 700;
    line-height: 18px;
    background-color: #f2af17;
    text-decoration: none;
    display: inline-block;
}

.portfolio-list-item:hover .portfolio-item-info {
    animation-name: portfolio-hover;
    animation-duration: 4s;
    animation-fill-mode: both;
}

@keyframes portfolio-hover {
    0% {
        opacity: 0;
        transform: translate(-100%,-100%);
    }
    50% {
        opacity: 0.5;
        transform: translate(-100%,0%);
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}

.tdn{
text-decoration: none;
}

.blog-section {
    padding: 150px 0;
}

.posts-lists{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}
.post {
    width: 370px;
    margin-bottom: 32px;

}
.post-media {
    margin-bottom: 19px;
}

.post-title{
    font-family: 'Montserrat', sans-serif;
    color:  #333333;
    font-size: 18px;
    font-weight: 700;
}

.post-title .fas {
    color:  #f1ad1d;
    background-color: #303030;
    padding: 9px 12px;
    margin-bottom: 16px;
}
.post-description{
    font-family: 'Lato',sans-serif;
    color:  #505050;
    font-size: 14px;/
    font-weight: 300;
    padding-bottom: 16px;
    border-bottom: 1px solid grey;
}
.post-info{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 15px;
    padding-bottom: 11px;
    border-bottom: 2px solid black;
}
.post-data{
    font-family: 'Lato',sans-serif;
    color:  #828282;
    font-size: 12px;
    font-weight: 300;
}
.post-more{
    font-family: Lato;
    color:  #828282;
    font-size: 12px;
    font-weight: 300;
    text-decoration: none;
    text-transform: uppercase;
}

.partners{
    padding-top: 175px;
    padding-bottom: 114px;
    background-image: url("../img/partners-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.partners-logo{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.partner-link{
    margin: 0 30px;
}